{% extends "main.html" %}

{% block title %} Capture Maintenance Request {% endblock %}
{% block head %} Capture Maintenance Request {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="login-panel panel panel-default col-md-6">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please fill in your maintenance request</h3>
                        </div>
                        <div class="panel-body">
                            <form method="post" action="." enctype="multipart/form-data">
                                {% csrf_token %}
                                <table border="0">
                                    {{ form }}
                                </table>

                                <div class="row">
                                    <div class="col-md-12" style="text-align: center;">
                                        <button type="submit"
                                                class="btn btn-primary btn-sm"
                                                value="login">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center;">
                                        <a href="/">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="login-panel panel panel-default col-md-3">
                        <div class="panel-heading">
                            <h3 class="panel-title">Current Requests</h3>
                        </div>
                        <div class="panel-body">
                            <form>
                                {% for request in requests %}
                                    <p>
                                        <a href="updaterequest/{{ request.id }}">{{ request }}</a>
                                    </p>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}