{% extends "base.html" %}

{% block title %} Capture Maintenance Request {% endblock %}
{% block head %} Capture Maintenance Request {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please fill in your maintenance request</h3>
                    </div>
                    <div class="panel-body">
                        <!--TODO: Should this action attribute not point to "maintain/" -->
                        <form method="post" action=".">
                            {% csrf_token %}
                            <table border="0">
                                {{ form }}
                            </table>
                            <div class="row center-block">
                                <input type="submit" value="Submit  "/>
                                <a href="">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Track Existing Requests</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action=".">
                            {% csrf_token %}
                            <table border="0">
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}