{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>Hello</h1>
                <!--
                TODO: This dashboard will vary based on the User (Student vs Maintainer)
                Maintainer: Outstanding maintenance work to do
                            Need to think about Scheduling
                Student: Past maintenance work
                         Ability to give feedback
                -->
                <p>You are on your Dashboard</p>
            </div>
        </div>
    </div>
{% endblock %}